[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
ta = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
ta-lib = {file = "TA_Lib-0.4.28-cp311-cp311-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.11"
